@charset "UTF-8";
            body {
                color: rgba(0, 0, 0, 0.5);
                background-image: url(./appearance/fundo4.jpg);
                background-color: grey;
            }
            p {
                text-align: justify;
                text-indent: 50px;
            }