@charset "UTF-8";

form {
    width: 650px;
    margin: auto;
}

input,
textarea,
select {
    font-family: sans-serif;
    font-weight: normal;
    font-size: 13pt;
    background-color: rgba(255, 255, 255, 0.8);
}

input:hover,
textarea:hover,
select:hover {
    background-color: #dddddd;
}

input#cEnviar {
    margin-left: 15px;
}

legend {
    color: #888888;
    font-weight: bold;
    font-size: 13pt;
    font-family: sans-serif;
}

fieldset {
    border-color: #cecece;
    margin: 20px;
}

textarea {
    margin-left: 50px;
    margin-top: 10px;
}

fieldset#endereco {
    background: url('../imagens/icone-endereco.png') no-repeat 98% 98%;
    background-size: 150px 150px;
}

fieldset#mensagem {
    background: url('../imagens/icone-mensagem.png') no-repeat 98% 98%;
    background-size: 150px 150px;
}

fieldset#pedido {
    background: url('../imagens/icone-pagamento.png') no-repeat 98% 98%;
    background-size: 150px 150px;
}
