@charset "UTF-8";
@font-face {
    font-family: 'FonteLogo';
    src: url(../fonts/bubblegum-sans-regular.otf);
}

p.title {
    font-family: 'FonteLogo', sans-serif;
    font-size: 20pt;
    color: #606060;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    text-indent: 0px;
    text-align: center;
}

div#tv-radio {
    width: 900px;
    height: 580px;
    margin: auto;
    background: url(../imagens/radio-tv.png) no-repeat;
}
video#filme {
    display: block;
    position: relative;
    left: 82px;
    top: 70px;
    width: 450px;
}
audio#musica {
    display: block;
    position: relative;
    left: 574px;
    top: 488px;
    width: 300px;
}
div#tv-tube {
    width: 900px;
    height: 330px;
    margin: auto;
}
iframe#tube {
    display: block;
    position: relative;
    left: 170px;
    top: 5px;
    width: 560px;
}
